body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-description {
    max-height: 100px;
    overflow: hidden;
}

.rating {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 12px;
    padding: 12px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #fff;
    border: 2px solid #1db028;
}

#movieGenreSelect {
    width: 160px;
}

#sortSelect {
    width: 75px;
}

.logo {
    width: 75px;
}

.logo-container {
    background-color: #3c3c3c;
    padding: 24px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: #fff;
    font-size: 0.9rem;
}

.poster {
    position: relative;
    transition: 0.5s;
}

.poster:hover .play-bg {
    opacity: 1;
    cursor: pointer;
}

.play-bg {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button {
    font-size: 1.6rem;
    width: 65px;
    height: 65px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.loading-container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}